{% extends 'layout/front.html.twig' %}

{% block title %}Search result
{% endblock %}

{% block content %}
    <h3>Search result : </h3>
	{% for feed in founded_feed %}
		<div class="card mb-2">
			<img src="{{ feed.image ? asset('uploads/images/' ~ feed.image) : asset('images/default-image.jpg') }}" class="card-img-top" alt="{{ feed.image }}" style="max-height: 300px; object-fit:cover;">
			<div class="card-body">
				<h5 class="card-title"><a href=" {{ path('blogly_feed_show', {id: feed.id })}}">{{ feed.title|post_title }}</a></h5>
				<p class="card-text">{{ feed.description|post_description }}</p>
			</div>
			<div class="card-action text-center p-2">
				<button class="btn"><i class="bi bi-heart"></i></button>
				<button class="btn"><i class="bi bi-chat"></i></button>
				<button class="btn"><i class="bi bi-share"></i></button>
			</div>
		</div>
	{% endfor %}
{% endblock %}
